.back{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: back 10s infinite linear ;
    width: 100%;
    height: 100vh;
}
@keyframes back{
    0% {
        background-image: linear-gradient(204deg, #f48fb1, #e91e63 100%, transparent);
       
    }
    25% {
        background-image: linear-gradient(45deg, #81d4fa 100%, transparent);
    }
    50%{
        background-image: linear-gradient(139deg, #478bda, #9b009b, purple 100%,transparent)
    }
    100%{
        background-image: linear-gradient(323deg, #ca4772 100% , #d23e57 , #f0b0c5);
    }

  
}




.text{
    font-size: 30px;
    transition: scale 2s linear;
    text-align:center;
}

.text:hover{
    scale: 1.5;
   
    text-decoration: underline;
}

@media (min-width:280px) and (max-width:480px) {
    .text:hover{
        scale: 0.5;
    
}
}
